
body {
  background-color: #333;
}
.jumbotron h1 {
  font-size: 70px;
  margin-top: 10px;
}
.jumbotron img {
  width: 300px;
  margin-bottom: 0;
  padding: 0;
}
.jumbotron {
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  font-weight: 300;
  font-family: Helvetica;
}

#artistList {
  padding-top: 40px;
}
#artistList img {
  width: 130px;
  border: 1px solid #333;
}
#artistList h4 {
  margin-bottom: 60px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}
