

.jumbotron {
  padding-bottom: 0;
  margin-bottom: 0;
}

#heading h1 {
  font-size: 70px;
  margin-top: 10px;
  color: #eee;
}
#heading img {
  width: 300px;
  margin-bottom: 0;
  padding: 0;
}
#heading {
  background-color: #333;
}

ul.nav-tabs {
  border-bottom: 0;
}
.nav-tabs.nav-justified > li.active > a {
  background-color: #eee;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  font-weight: 300;
  font-family: Helvetica;
}

#artistList {
  padding-top: 40px;
}
#artistList img {
  width: 150px;
  border: 1px solid #eee;
}
#artistList h4 {
  margin-bottom: 60px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Helvetica;
  font-size: 16px;
}
