
#heading h1 {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #eee;
}
#heading img {
  width: 300px;
  margin-bottom: 0;
}
#heading {
  background-color: #333;
  padding-bottom: 0;
}
.jumbotron {
  margin-bottom: 0;
}

ul.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li.active > a {
  background-color: #eee;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  font-weight: 300;
  font-family: Helvetica;
}

#allEpisodes {
  padding-top: 40px;
}

#allEpisodes ul.list-inline > li {
  margin: 10px 5px 20px 5px;
}
#allEpisodes img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #eee;
}
.episode_title {
  margin: 5px 0 10px 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.episode_title a {

  font-size: 18px;

}
