
.jumbotron h1 {
  font-size: 70px;
  color: white;
  margin-top: 10px;
}
.jumbotron img {
  width: 280px;
  margin-bottom: 0;
  background-color: #00FFFF;
  padding: 10px;
  border-radius: 8px;
}
.jumbotron {
  background-color: #333333;
  padding-bottom: 10px;
}

.jumbotron nav > a {
  color: #EEEEEE;
}

.groups-index a {
  padding: 2px;
}

.page-header {
  text-align: right;
  margin-top: 5px;
}

#artistList img {
  width: 100px;
  border: 1px solid #EEEEEE;
}
#artistList div.artist-card {
  margin-bottom: 30px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul.pager {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.pager a {
  font-size: 12px;
}
