

.jumbotron h1 {
  font-size: 70px;
  margin-top: 10px;
}
.jumbotron img {
  width: 300px;
  margin-bottom: 0;
}
.jumbotron {
  background-color: #F691B2;
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-tabs > li > a {
  border-bottom: 0;
  color: white;
  font-weight: 300;
  font-family: Helvetica;
}

#allEpisodes {
  padding-top: 40px;
}

#allEpisodes ul.list-inline > li {
  margin: 10px 5px 20px 5px;
}
#allEpisodes img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #eee;
}
.episode_title {
  margin: 5px 0 10px 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
