

.jumbotron h1 {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.jumbotron img {
  width: 300px;
  margin-bottom: 0;
}
.jumbotron nav > a {
  margin-bottom: 6px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  font-family: Helvetica;
  color: #333;
  border: 0;
}
.jumbotron {
  background-color: #F691B2;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul.nav-tabs a {
  color: #333;
  padding-top: 5px;
  color: white;
  font-weight: 300;
  font-size: 21px;
}

#allEpisodes {
  padding-top: 40px;
}

#allEpisodes ul.list-inline > li {
  margin: 10px 5px 20px 5px;
}
#allEpisodes img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #eee;
}
.episode_title {
  margin: 5px 0 10px 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
