
#artistImage img {
  width: 300px;
}

.jumbotron {
  padding-top: 50px;
  margin-bottom: 0;

}
h1 {
  padding-top: 25px;
}

#artistBio {
  font-size: 16px;
}

#topTracks {
  background-color: #FAD165;
  padding-top: 0;
}

#similarArtist {
  background-color: #2BB673;
  padding-top: 0;
}

#similarArtist  a {
  color: white;
  font-weight: 300;
  font-size: 18px;
}

#similarArtist ul {
  margin: 0;
}
#similarArtist li {
  margin-right: 25px;
  margin-left: 25px;
}
#similarArtist img {
  width: 100px;
  margin-bottom: 5px;
}
