
.jumbotron {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 50px;
}

h1 {
  padding-top: 25px;
}
h2 small {
  font-weight: 200;
}

#artistInfo {
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#artistInfo img {
  margin-top: 20px;
  margin-bottom: 20px;
}
#artistInfo #artistBio {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 16px;
}

#artistTags {
  border-top: 1px solid #ddd;
}
#artistTags li {
  text-transform: capitalize;
  letter-spacing: 1px;
}
#artistTags .label {
  font-weight: 300;
  border-radius: 12px;
  font-family: Helvetica;
}

#songsPlayed {
  background-color: #FAD165;
  padding-bottom: 80px;
}

#similarArtist  a {
  font-size: 16px;
  font-weight: 300;
}

#similarArtist li {
  margin-left: 50px;
  margin-bottom: 10px;
}
#similarArtist img {
  width: 150px;
  padding: 5px;
}
