
.page-header,
.sub-header {
  font-weight: bold;
}
.strong {
  font-weight: bold;
}
.table {
  margin: 20px 0 20px 0;
}
.table > thead > tr {
  border-top: 1px solid rgb(221, 221, 221);
}
.table > thead > tr > th {
  font-weight: lighter;
  font-size: 85%;
  color: #777777;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 4px;
}
.table > tbody > tr > td {
  border-bottom: 1px solid rgb(221, 221, 221);
  vertical-align: middle;
  top: 0;
}

.hr-thin {
  margin: 10px 0 10px 0;
}

.label {
  font-weight: normal;
  color: black;
  font-size: 0.9em;

}
.label-year,
.label-date {
  background-color: #CFD8DC;
  color: black;
}
.label-guest {
  background-color: #FFD180;
}
.label-category {
  background-color: #CCFF90;
}
.label-genre {
  background-color: #80D8FF;
}
.label-style {
  background-color: #A7FFEB;
}

.btn-bookmark {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #808080;
}
.btn-heading {
  font-size: 75%;
  vertical-align: text-top;
}

.tooltip-inner {
  white-space: pre;
  max-width: none;
}

.resource-title {
  margin-top: 2px;
  margin-bottom: 5px;
}
