
body {
  //font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-family: BentonSansRE, Verdana, sans-serif;
  //font-family: "Roboto Condensed", "Droid Sans", arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #373A3C;
}
.container-fluid {
  margin-right: 100px;
  margin-left: 100px;
}

.page-header,
.sub-header {
  font-weight: bold;
}
.strong {
  font-weight: bold !important;
}
.light {
  font-weight: normal !important;
}
.table {
  margin: 20px 0 20px 0;
}
.table > thead > tr {
  border-top: 1px solid rgb(221, 221, 221);
}
.table > thead > tr > th {
  font-weight: lighter;
  font-size: 85%;
  color: #777777;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 4px;
}
.table > tbody > tr > td {
  border-bottom: 1px solid rgb(221, 221, 221);
  vertical-align: middle;
  top: 0;
}

.inline {
  display: inline-block;
}

.hebrew {
  direction: rtl;
  text-align: left;
}

.box {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 15px;
}

.box-title-bordered,
.box-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.box-title-bordered {
  padding-bottom: 10px;
  border-bottom-color: rgb(235, 235, 235);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.hr-dark-thin,
.hr-dark {
  border-top-color: #373A3C;
}
.hr-dark-thin,
.hr-thin {
  margin: 10px 0 10px 0;
}

.label {
  font-weight: normal;
  color: black;
  font-size: 0.9em;

}

.label-date {
  background-color: #CFD8DC;
  color: black;
}

.label-year {
  background-color: #27A66B;
  color: white;
}
.label-guest {
  background-color: #EB5A46;
}
.label-category {
  background-color: #C377E0;
  color: white;
}
.label-genre {
  background-color: #00AECC;
  color: white;
}
.label-style {
  background-color: #FFD180;
}

.label-matched {
  background-color: #27A66B;
  color: white !important;
}

.label-pending {
  background-color: #FFD180;
  color: black !important;
}

.label-unmatched {
    background-color: #EB5A46;
    color: white !important;
}

.btn-bookmark {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #808080;
}
.btn-heading {
  font-size: 50%;
  vertical-align: text-top;
  float: right;
}
.btn-heading > .glyphicon {
  top: 0 !important;
}

.resource-title {
  display: inline-block;
  margin-bottom: 0;
}

.tooltip-inner {
  white-space: pre;
  max-width: none;
}
