
.table {
  margin: 20px 0 20px 0;
}
.table > thead > tr {
  border-top: 1px solid rgb(221, 221, 221);
}
.table > thead > tr > th {
  font-weight: lighter;
  font-size: 85%;
  color: #808080;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 4px;
}
.table > tbody > tr > td {
  border-bottom: 1px solid rgb(221, 221, 221);
  vertical-align: middle;
  top: 0;
}

.hr-thin {
  margin: 10px 0 10px 0;
}

.label {
  font-weight: normal;
  color: black;
  font-size: 100%;
}
.label-year,
.label-date {
  background-color: #CFD8DC;
  color: black;
}
.label-guest {
  background-color: #FFD180;
}
.label-category {
  background-color: #CCFF90;
}
.label-genre {
  background-color: #80D8FF;
}
.label-style {
  background-color: #A7FFEB
}

.btn-bookmark {
  border: 0;
  background-color: transparent;
  padding: 3px 6px 3px 6px;
  color: #808080;
}

.tooltip-inner {
  white-space: pre;
  max-width: none;
}
