
td {
  vertical-align: middle;
}

.title-path {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #777777;
  font-size: 18px;
}
.title {
  margin-top: 10px;
  color: #333333;
}
blockquote {
  margin-top: 25px;
  border-left-color: 0;
}
blockquote p {
  font-size: 16px;
  font-style: italic;
}
