
.breadcrumb {
  font-size: 16px;
  padding: 4px 10px;
  font-weight: 300;
  margin: 0;
}

ul.pager {
  margin: 0;
  margin-bottom: 5px;
}
ul.pager li.disabled > a,
ul.pager li > a {
  padding: 0;
  background-color: inherit;
  border: 0;
  font-size: 40px;
}

#heading {
  margin-bottom: 0;
  background-color: #92E1C0;
  padding-top: 50px;
  padding-bottom: 0;
}
#heading h1 {
  color: #333;
}
#heading.jumbotron p {
  font-size: 16px;
}
#heading.jumbotron p.aired {
  font-size: 18px;
  padding-left: 5px;
}

audio {
  border: 1px solid #eee;
}
blockquote {
  padding: 5px 0 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-left-width: thin;
  border-left-color: #777777;
}


#episode_data {
  padding-top: 0;
  padding-bottom: 80px;
  margin-bottom: 0;
}

div#tracklist_artists_template a {
  padding: 3px 8px;
}
