
.jumbo-header {
  display: inline-block;
}

.lead {
  font-size: 18px;
}

.aired {
  font-weight: 300;
  font-size: 12px;
  //text-align: center;
}

#episodeInfo img {
  margin-top: 10px;
  margin-bottom: 5px;
}
#episodeInfo h1 {
  margin-top: 0;
  color: #333333;
}

audio {
  margin-top: 10px;
}
blockquote {
  margin-top: 0;
  margin-bottom: 10px;
  border-left-width: thin;
  border-left-color: #777777;
}
blockquote p {
  font-size: 18px !important;
}
