
td {
  vertical-align: middle;
}

.player {
  border: 1px solid black;
}
.title-path {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #777777;
  font-size: 18px;
}
.title {
  margin-top: 10px;
  color: #333333;
}
blockquote {
//  margin-top: 10px;
  border-left-color: #FFFFFF;
}
.description {
  font-size: 16px;
}
.glyphicon {
  font-size: 20px;
}

.preview:hover {
  cursor: pointer;
}

.glyphicon-pause,
.green {
  color: #1FC159;
}
