
.jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.media {
  padding: 10px;
}
.badge {
  font-weight: 400;
  background-color: #eee;
  color: #333;
}

.page-header-dark,
.page-header {
  font-size: 24px;
}

ul a { color: #333; }

div.container > h2 > a[role="button"] {
  float: right;
  text-transform: capitalize;
  margin: 0;
  padding: 3px 6px;
  font-weight: 300;
  font-family: Helvetica;
  font-size: 12px;
  border: 0;
  background-color: #eee;
}

#header {
  background-color: #333;
  padding-top: 100px;
  padding-bottom: 150px;
}
#header img.media-object {
  width: 310px;
  height: auto;
}
#header h1 {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}
#header p {
  font-size: 28px;
  font-weight: 100;
  color: #1AB068;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 10px;
  border-top: 1px solid white;
}
#header p img {
  width: 148px;
  height: auto;
  padding-bottom: 5px;
  object-fit: scale-down;
}

#featureEpisodes { background-color: white; }
#featureArtists { background-color: #FAD165; }
#featureMixtapes { background-color: #9FC6E7; }

#featureEpisodes li {
  margin: 10px 5px 10px 5px;
}

#featureEpisodes img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #777;
}
#featureEpisodes .episode_title {
  margin: 5px 0 10px 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#featureArtists li {
  margin: 10px 0 30px 0;
}
#featureArtists img {
  width: 160px;
  border: 1px solid #EEEEEE;
}
#featureArtists h4 {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#featureMixtapes li {
  margin: 10px 0 30px 0;
}
#featureMixtapes img {
  width: 130px;
}
#featureMixtapes h4 {
  color: white;
  width: 200px;
  font-size: 21px;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
