
.jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 30px;
}
.media {
  padding: 10px;
}
.badge {
  font-weight: 400;
  background-color: #eee;
  color: #333;
}
.sub-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

/* all */
div.container > h2 > a[role="button"] {
  float: right;
  text-transform: capitalize;
  margin: 0;
  padding: 2px 6px 1px 6px;
  font-weight: 300;
  font-family: Helvetica;
  font-size: 14px;
  border: 0;
}
.btn-default {
  background-color: transparent;
  color: #337ab7;
}

#heading.jumbotron {
  padding-top: 50px;
  padding-bottom: 160px;
}

#heading img.media-object {
  width: 320px;
  height: auto;
  margin-right: 10px;
}
#heading h1 {
  font-weight: bold;
  color: white;
}
#heading p {
  font-size: 28px;
  font-weight: 100;
  color: #1AB068;
  padding-top: 5px;
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid white;
}
#heading p img {
  width: 148px;
  height: auto;
  padding-bottom: 5px;
  object-fit: scale-down;
}

#featureArtists { background-color: #92E1C0; }
#featureEpisodes { background-color: #eee; }
#featureMixtapes { background-color: #9FC6E7; }

#featureEpisodes li {
  margin-left: 5px;
  margin-right: 5px;
}

#featureEpisodes img {
  width: 200px;
  height: 130px;
  object-fit: cover;
}
#featureEpisodes .episode_title {
  margin: 5px 0 0 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#featureArtists img {
  width: 160px;
}

#featureArtists h4,
#featureMixtapes h4 {
  width: 165px;
  font-size: 16px;
  font-family: Helvetica;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#featureArtists h4 { color: #333; }
#featureMixtapes h4 { color: white; margin-bottom: 5px;}

#featureArtists li,
#featureMixtapes li {
  margin: 0 25px 0 25px;
  vertical-align: top;
}
#featureMixtapes img {
  width: 130px;
}
