/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.rtl {
  direction: rtl;
  text-align:right;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
