
.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #333;
  font-size: 14px;
}

.logo {
  background-image: url('/static/images/walkman-black-x32.png');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left center;
  padding-left: 40px;
}
#lastfm_logo { padding-bottom: 4px; }

.jumbotron {
  padding-top: 30px;
}

th {
  font-weight: 400;
}

.table {
  margin-bottom: 0;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.sub-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}


body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  padding: 20px 15px;
  background-color: white;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  position: absolute;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer img {
  width: 80px;
  height: auto;
}

h2, h3, h4 {
  font-weight: 300;
}
h1 small {
  font-weight: 100;
  font-size: 50%;
}
h2 small {
  font-weight: 100;
}

/* playlist/tracklist Related */
div.tracklist {
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 5px 10px 5px 10px;
}
div.tracklist tr {
  text-align: left;
}
div.tracklist td {
  font-size: 14px;
  font-weight: 300;
  font-family: Helvetica;
}

.play-on-spotify {
  width: 100px;
  margin-bottom: 10px;
}

.preview:hover {
  cursor: pointer;
}

.glyphicon {
  line-height: inherit;
  vertical-align: text-bottom;
}
.glyphicon-question-sign {
  font-size: 18px;
}

.glyphicon-pause,
.glyphicon-play-circle {
  font-size: 20px;
}

.red, .glyphicon-pause {
  color: #D9534F;
}

.green, .glyphicon-play-circle {
  color: #1AB068;
}

.blue, .glyphicon-question-sign {
  color: #4986E7;
}

.page-header-dark {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid white;
}
.hr-dark {
  border-bottom: 1px solid #777777;
  margin-top: 10px;
}
