body {
  padding-top: 50px;
  //padding-bottom: 20px;
}

.navbar-default .navbar-brand {
  //color: #333;
  font-size: 16px;
}

.logo {
  background-image: url('/static/images/walkman-black-x32.png');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left center;
  padding-left: 40px;
}

th {
  font-weight: 400;
}

.table {
  margin-bottom: 0;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.sub-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

h2, h3, h4 {
  font-weight: 300;
}
small {
  font-weight: 100 !important;
}

.play-on-spotify {
  width: 100px;
  margin-bottom: 10px;
}

.preview:hover {
  cursor: pointer;
}

.glyphicon {
  font-size: 20px;
}

.glyphicon-pause,
.green {
  color: #1DB954;
}

.container-fluid {
  margin-left: 100px;
  margin-right: 100px;
}

.page-header-dark{
  border-bottom: 1px solid #777777;
}
.hr-dark {
  border-bottom: 1px solid #777777;
  margin-top: 10px;
}
