body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-default .navbar-brand {
    color: #333;
}


.logo {
  background-image: url('/static/images/walkman-black-x32.png');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left center;
  padding-left: 40px;
}
