
.jumbotron {
  padding-bottom: 15px;
}
.jumbotron img {
  width: 350px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.jumbotron .lead {
  color: #d44950;
}
.jumbotron .panel {
  margin-bottom: 0;
}
.episode_card {
  margin-top: 10px;
}
.episode_card img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #777777;
}
.episode_title {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.episode_title .lead {
  line-height: normal;
}
