
.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
}
.jumbotron img {
  width: 350px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}
.jumbotron h1 {
  font-weight: bold;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
}
.lead {
    color: #2BB673;
}

.nav-tabs {
  margin-top: 60px;
}

.episode_card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.episode_card img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #777777;
}
.episode_title {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.episode_title .lead {
  line-height: normal;
}
