

h1#tapeName {
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
img {
  width: 300px;
  margin-bottom: 20px;
}
.jumbotron {
  padding-bottom: 40px;
  margin-bottom: 0;
  background-color: #9FC6E7;
}

div#tapeWiki {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 16px;
}

#mixTapesList {
  padding-left: 5px;
  max-height: 530px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
#mixTapesList button {
  text-transform: capitalize;
  margin-bottom: 6px;
  font-weight: 300;
  font-family: Helvetica;
  border-radius: 20px;
}

#spotifyPlayer {
  margin-top: 48px;
}
