

.jumbotron h1 {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
img {
  width: 320px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.jumbotron {
  padding-bottom: 20px;
  margin-bottom: 0;
}

#mixTapesList {
  max-height: 700px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}
#mixTapesList a {
  text-transform: capitalize;
  margin-bottom: 4px;
}

#spotifyPlayer {
  margin-top: 20px;
}
