

.jumbotron {
  padding-bottom: 40px;
  margin-bottom: 0;
}
#jumboTitle h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#jumboTitle {
  background-color: #9FC6E7;
}
#jumboTitle h3 {
  font-weight: 100;
  margin-top: 0;
}

.glyphicon-circle-arrow-down {
  color: #333;
}

body {
  background-color: #eee;
}

img {
  margin-top: 25px;
  max-width: 350px;
}

.groups-index > nav {
  padding-bottom: 10px;
}

#jumboTapeData {
  padding-top: 60px;
}

#jumboTapeData small {
  color: #333;
}

#tape {
  font-size: 52px;
  margin-top: 0;
  padding-top: 10px; /* same as spotifyPlayer */
  margin-bottom: 10px;
  text-transform: capitalize;
}

#spotifyPlayer {
  padding-top: 10px;
}

div#tapeWiki {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 16px;
}

#mixtapePlaceholder .panel {
  border-radius: 20px;
}
#mixtapeList {
  max-height: 150px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
#mixtapePlaceholder .page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tapeArtists .page-header {
  margin-bottom: 10px;
}
#tapeArtists a {
  color: #333;
  border: 0;
}

#tapeArtists a,
#mixtapePlaceholder a {
  text-transform: capitalize;
  margin-bottom: 6px;
  font-weight: 300;
  font-family: Helvetica;
  border-radius: 20px;
  font-size: 12px;
}
.badge {
  font-weight: 400;
  background-color: #333;
}
#mixtapePlaceholder .badge {
  font-size: 10px;
}
