//================================================
// Base
//================================================

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

h1 {
  font-family: $font-family;
}

h2
h3,
h4 {
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $color-blue;
}

p {
  font-size: $font-size-m;
}

.site-name {
  margin: 0;
  font-family: $font-family-logo;
  font-weight: normal;
  text-align: center;
  font-size: $font-size-m;
  color: $color-white;

  span {
    color: $color-aquagreen;
  }
}

label {
  cursor: pointer;
}
