# Byte-compiled / optimized / DLL files
# -------------------------------------
__pycache__/
*.py[cod]
.tags

# Distribution / packaging
# ------------------------
venv/

# Logs
# ----
tagging.log
output.log


# Sass
# ----
app/static/.sass-cache/
app/static/css/*


# Database
# --------
app/themetime.sqlite3
