//================================================
// Artists list
//================================================

#artists_placeholder {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 5px;
    }

    figure {
      display: flex;
      flex-direction: column;
      margin: 0;
      border: .5px solid $color-black;
      width: 120px;
      height: auto;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        background: $color-light-gray;
        border-top: .5px solid $color-black;

        span {
          font-size: .7rem;
          text-align: center;
          padding: 4px 2px 6px 2px;
          color: $color-black;
        }
      }
    }
  }

}
