//================================================
// Artists list
//================================================

section#artists_placeholder {

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 5px;
    }

    figure {
      margin: 0;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 .5px $color-gray;
      border-radius: 7px;

      img {
        max-width: 120px;
        height: auto;
      }

      figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2rem;
        background: $color-light-gray;

        span {
          color: black;
          font-size: .7rem;
        }
      }
    }
  }

}
