//================================================
// Tabs
//================================================

ul.tabs {
  background: #f6f6f6;

  li {
    &.tab-header {
      background-color: $color-blue;
      border-bottom: 3px solid $color-black;

      a {
        display: block;
        padding: $padding-tab-header;
        font-family: $font-family-pri;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-white;
      }
    }

    &.tab-body {
      section {
        padding: $padding-tab-body;
        color: $color-black;
      }
    }
  }
}
