//================================================
// Tabs
//================================================

ul.tabs {
  @extend %remove-page-padding;

  li.tab {

    input[type=radio] {
      display: none;

      &:checked ~ label::after {
        transform: rotate(0deg);
      }
      &:checked ~ section {
        display: block;
      }
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $padding-tab-header;
      background-color: $color-aquagreen;
      border-bottom: 1.5px solid $color-black;
      font-family: $font-family;
      font-size: 1.3rem;
      font-weight: bold;
      color: $color-white;

      &::after {
        content: "";
        background: transparent url("../../icons/svg/arrow-down-outline.svg") center no-repeat;
        width: 15px;
        height: 15px;
        transform: rotate(-90deg);
      }
    }

    section {
      display: none;
      padding: $padding-tab-body;
      color: $color-black;
      background: $color-white-smoke;
    }

  }
}
