//================================================
// Tracklist card
//================================================

#tracklist_placeholder {

  .track-card {
    display: flex;
    align-items: center;
    height: 85px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 1px black;
    border-radius: 3px;
    overflow: hidden;
    background: white;
    font-size: 0.7rem;

    svg {
      width: auto;
      height: 100%;
    }
  }

  .track-thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 0 0 70px;
    width: 70px;
    height: 100%;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      object-fit: cover;
      object-position: top left;
    }

    span.overlay { // overlay
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .track-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex:  1 1 100px; // min size
    width: 150px; // affects the span text-overflow
    height: 100%;
    padding: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.17);
    text-transform: capitalize;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    span.track-title {
      font-size: 0.8rem;
    }

    span.track-artist {
      /* seperator between multiple performers */
      & a:nth-child(1n+2)::before {
        content: "/\00A0";
        color: black;
      }
    }

    span.track-year {
      color: $color-gray-light;
      margin-right: auto;
    }

  }

  .track-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 8px;
  }


  .track-preview {
    @include svg-button(30px, black);

    &[data-url=""] {
      svg {
        fill: lightgray;
      }
    }

    svg g.play-circle-fill {
      fill: black;
    }
  }

  .track-labels {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    width: 40px;
  }

  .track-spotify {
    @include svg-button(16px, lightgray);

    &:not([data-song-id=""]) {
      svg {
        fill: #91DC5A;
      }
    }
  }

  .track-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: $color-gray-light;
    font-size: .55rem;

    span {
      color: white;
    }
  }

}
