//================================================
// Tracklist card
//================================================

#tracklist_placeholder {

  .track-card {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
    box-shadow: 0 0 1px black;
    border-radius: 3px;
    background: white;

    svg {
      width: auto;
      height: 100%;
    }

    .track-label {
      flex: 0 0 17px;
      height: 17px;
      text-align: center;
      border-left: none;
      border-top: none;
      border-radius: 3px 0;
      align-self: flex-start;
      background: lightgray;

      .track-number {
        vertical-align: middle;
        font-size: 0.8rem;
        color: white;
      }
    }

    .track-preview {
      flex: 0 0 50px;
      @include svg-button(50px, lightgray);
      margin: 0 10px 0 -4px;
      padding: 0;

      &:not([data-url=""]) {
        svg {
          fill: black;
        }
      }
    }

    .track-info {
      display: flex;
      flex-direction: column;
      flex:  1 1 100px; // min size
      width: 160px; // affects the span text-overflow
      height: 100%;
      padding: 8px;
      border-left: 1px solid rgba(0, 0, 0, 0.17);
      text-transform: capitalize;
      font-size: 0.7rem;

      span {
        margin: 3px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        a:visited {
          color: blue;
        }

        &.track-title {
          font-size: 0.8rem;
        }

        &.track-artist {

          /* seperator between multiple performers */
          & a:nth-child(1n+2)::before {
            content: "/\00A0";
            color: black;
          }
        }

        &.track-year {
          color: #9a9a9a;
          font-weight: lighter;
        }
      }
    }

    .track-spotify {
      @include svg-button(20px, lightgray);
      align-self: flex-end;
      flex: 0 0 20px;
      margin-right: 6px;
      margin-bottom: 8px;

      &:not([data-song-id=""]) {
        svg {
          fill: #91DC5A;
        }
      }
    }
  }
}
