//================================================
// Tracklist table
//================================================

#tracklist_placeholder {
  table {
    font-size: 0.75rem; /* 12px */
    width: 100%;

    tr {
      border-bottom: 1px solid #e3e3e3;
    }

    th {
      text-align: center;
      &:nth-child(3) {
        text-align: left;
      }
    }
    th, td {
      padding: 6px 4px;
      vertical-align: middle;
    }
  }

  .track-preview,
  .track-stream,
  .track-number {
    text-align: center;
  }

  .track-title,
  .track-performer {
    margin: 4px 0;
  }

  .track-title {
    font-size: 0.82rem;
  }

  .track-year {
    font-size: 0.70rem;
    color: #9a9a9a;
  }

  /* seperator between multiple performers */
  .track-performer a:nth-child(1n+2)::before {
    content: "/\00A0";
    color: black;
  }

  .track-preview-button {
    @include icon-button($url: '../icons/black-play-rounded-button.png', $width: 35px);
  }

  .track-nopreview-button {
    @include icon-button($url: '../icons/black-round-info-button.png', $width: 35px);
  }

  .track-stream-button {
    @include icon-button($url: '../icons/Spotify_Icon_CMYK_Green.png', $width: 20px);
  }
}
