<ul class="thumbnails">
  {{#each genres}}
  <li>
    <a href="{{view}}">
      <figure class="thumb">
        <img src="/static/images/missing-artist.png" alt="">
        <figcaption><span>{{name}}</span></figcaption>
      </figure>
    </a>
  </li>
  {{/each}}
</ul>
