
{{#if song_ids}}
  <iframe
    src=https://embed.spotify.com/?uri=spotify:trackset::{{song_ids}}&theme=white&view=list
    frameborder="0" allowtransparency = "true" width = "300" height={{height}}>
  </iframe>

{{else}}

  <h5 class="text-muted not-on-spotify">
    <span class="glyphicon glyphicon-question-sign"></span> Song not on Spotify
  </h5>

{{/if}}
