{% extends "layout.html.jinja" %}


{% block content %}
  <div class="jumbotron">
    <div class="container text-center">
      <img class="center-block" src="{{ url_for('static', filename='images/cassette.png') }}" alt="" />
      <h1>Artists</h1>

      <nav>
        {% for i in index_list %}
          <a href="/artists/index/{{i}}">{{i}}</a>&nbsp;&nbsp;
        {% endfor %}
      </nav>
    </div>
  </div>

  <div class="container">
    <ul class="list-inline text-center" id="artistList">
      {% for artist in artists %}
        <li>
          <div class="artist-card">
            <a href="/artists/{{artist.id}}">
              {% if artist.lastfm_image %}
                <img class="img-circle" src="{{artist.lastfm_image}}" alt="" />
              {% else %}
                <img class="img-circle" src="/static/images/default-artist.png" alt="" />
              {% endif %}
              <h4>{{artist.name}}</h4>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all_artists.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript">

  $(document).ready(function() {
    // nav bar active
    $('ul.nav > li:has(a[href="/artists"])').addClass("active");
  });
  </script>

{% endblock %}
