{% extends "layout.html" %}
{% import "macro_episodes.html" as episodes %}

{% block script %}

<script type="text/javascript" data-endpoint="{{ url_for('episode_api', _external=True) }}">

  $(document).ready(function() {
    var endpoint = $("script[data-endpoint]").attr("data-endpoint");

    $('#episodesListMacro').find('.box-title').remove();
    $('#episodesListMacro').removeClass('box');
    console.log(endpoint);
    showEpisodesList(endpoint);
  });

</script>
{% endblock %}


{% block jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>All Episodes</h1>
      <hr class="hr-dark-thin">
    </div>
  </div>
{% endblock%}


{% block content %}
  <div class="container">
    {{ episodes.list() }}
  </div>
{% endblock %}


{% block style %}
  <style>
    h1 {
      font-size: 56px;
      font-weight: bold;
    }
  </style>
{% endblock %}
