{% extends "layout.html.jinja" %}


{% block content %}
  <div class="jumbotron">
    <div class="container text-center">
      <img src="{{ url_for('static', filename='images/cassette3.png') }}" alt="" />
      <h1>Artists</h1>
    </div>
  </div>

  <div class="container">
    <div id="allArtistsPlaceholder"></div>
  </div>
{% endblock %}


{% block style %}
  <style>
    .jumbotron h1 {
      font-size: 90px;
    }
    .jumbotron img {
      width: 350px;
      height: auto;
      margin-top: 20px;
      margin-bottom: 0;
    }
    .jumbotron {
      background-color: #2BB673;
      padding-bottom: 20px;
    }
  </style>
{% endblock %}


{% block script %}
  <script type="text/javascript">

  $(function() {
    // nav bar active
    $('ul.nav > li:has(a[href="/artists"])').addClass("active");

    $.getJSON("/api/artists", function(data, status) {
      var groupedArtists = _.groupBy(data, function(artist) { return artist.name[0]});

      getArtistInfo(groupedArtists.A[2].lastfm_name, function(artistInfo) {
        console.log(artistInfo.artist.image);
      });
      //console.log(groupedArtists.A[2]);

      getTemplateAjax('all_artists.handlebars', function(template) {
        var context = {artists: groupedArtists};
        $('#allArtistsPlaceholder').append(template(context));
      });
    });
  });
  </script>

{% endblock %}
