{% extends "layout.html.jinja" %}


{% block content %}
  <div class="jumbotron">
    <div class="container text-center">
      <img src="{{ url_for('static', filename='images/cassette.png') }}" alt="" />
      <h1>Episodes</h1>

      <ul class="nav nav-tabs nav-justified">
        {% for s in seasons%}
          <li role="presentation" {% if season == s %} class="active" {% endif %}>
            <a href="/episodes/season/{{s}}">Season {{s}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container" id="allEpisodes">

    <ul class="list-inline text-center">
      {% for e in episodes %}
        <li>
          <a href="/episodes/{{e.id}}">
            <img class="img-responsive img-rounded" src={{e.image}}>
          </a>
          <div class="episode_title text-left">
            <div class="small text-muted">Episode {{e.id}}:</div>
            <a class="lead" href="/episodes/{{e.id}}">{{e.title}}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all_episodes.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript">

  $(document).ready(function() {
    // nav bar active
    $('ul.nav > li:has(a[href="/episodes"])').addClass("active");
  });

  </script>
{% endblock %}
