{% extends "layout.html.jinja" %}


{% block content %}
  <div class="jumbotron">
    <div class="container text-center">
      <img class="center-block" src="{{ url_for('static', filename='images/cassette-white.png') }}" alt="" />
      <h1>Artists</h1>

      <ul class="nav nav-tabs nav-justified">
        {% for i in index_list %}
          <li role="presentation" {% if index == i %} class="active" {% endif %}>
            <a href="/artists/index/{{i}}">{{i}}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div class="container" id="artistList">
    <ul class="list-inline text-center">
      {% for artist in artists %}
        <li>
          <a href="/artists/{{artist.id}}">
            {% if artist.lastfm_image %}
              <img class="img-circle" src="{{artist.lastfm_image}}" alt="" />
            {% else %}
              <img class="img-circle" src="/static/images/default-artist.png" alt="" />
            {% endif %}
            <h4>{{artist.name}}</h4>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all_artists.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript">

  $(document).ready(function() { setNavActive("/artists") });

  </script>

{% endblock %}
