{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/artist_detail.js') }}"
        data-artist-endpoint="{{ url_for('artist_detail', artist_id=artist.id) }}">
</script>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header artist-name"></h1>

      <h3 class="sub-header">Top Songs</h3>

      <hr>
      <h3 class="sub-header">Albums</h3>
      <div class="release-list">
        <div class="media release-card">
          <div class="media-left">
            <img class="media-object release-thumb" src="" alt="thumb">
          </div>
          <div class="media-body release-body">
            <h5 class="media-heading">
              <span class="release-title"></span>
            </h5>
            <p>
              <span class="release-year small"></span><br><br>
              <span class="">played #(count) times in #(count) episodes</span>
            </p>
          </div>
        </div>
      </div>

      <hr>
      <h3 class="sub-header">Episodes</h3>
      <table>
        <tbody class="ep-list">
          <tr class="ep-clone">
            <td>
              <div class="media ep-card">
                <div class="media-body ep-body">
                  <h5 class="media-heading">
                    <span class="ep-title"></span>
                    <span class="btn-group ep-actions" role="group" aria-label="...">

                      <button type="button" name="button" class="btn btn-default btn-circle_ btn-ep-plus_" data-toggle="tooltip" title="Save to Your Music">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>

                      <button type="button" name="button" class="btn btn-default btn-circle_ btn-ep-option_">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                      </button>

                    </span>
                  </h5>
                  <p class="ep-plot small"></p>
                  <ul class="list-inline ep-categories"></ul>
                  <span class="label label-default ep-date"></span>
                </div>
                <div class="media-right">
                  <img class="media-object ep-thumb" src="" alt="thumb">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-md-4" id="sidebar">
      <img class="img-responsive center-block artist-image" src="" alt="image">
      <hr>
      <p class="artist-profile">{{ artist.attributes.profile | nl2br }}</p>
      <hr>
      <div class="dl-horizontal">
        <dl>
          <div class="artist-real">
            <dt>Real Name:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-aliases">
            <dt>Aliases:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-urls">
            <dt>Links:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-groups">
            <dt>Member in Groups:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-members">
            <dt>Group's Members:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

  </div>

</div>
<div class="container">
  <div class="row">
    <hr>

  </div>
</div>
<style>
  .favicon {
    background-position: 0 6px;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    padding: 4px 0 0 22px;
    min-height: 14px;
    background-image:;
    background-size: 16px;
  }
  h1 {
    padding-bottom: 10px;
  }
  .page-header {
    font-weight: bold;
  }
  .sub-header {
    font-weight: bold;
  }
  .artist-image {
    //width: 300px;
    //height: 300px;
    //object-fit: scale-down;
    margin-top: 20px;
  }
  .artist-profile {
    font-size: 90%;
  }
  .release-thumb {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin: 0;
    display: block;
    position: relative;
  }
  .release-card {
  /*  width: 150px;
    height: 197px;
    float: left;
    margin: 20px;*/
  }
  .release-info {
    padding: 6px;
  }
  .release-title {
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ep-card {
    border: 1.5px solid #EEEEEE;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
  }
  .ep-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
  }
  .ep-title {
    font-weight: bold;
  }
  .ep-actions {
    float: left;
  }
  .btn-circle_ {
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    color: #3884FE;
    border-color: #777777;
  }

  .btn-ep-option,
  .btn-ep-plus {
    font-size: 10px;
    color: white;
  }
  .ep-body {
    direction: rtl;
  }
  .ep-date {
    float: left;
    font-size: 85%;
  }
  .ep-categories {
    padding-right: 0;
  }
  .ep-categories > li {
    margin-left: 5px;
    font-weight: normal;
    font-size: 90%;
  }

  #sidebar {
    border: 1px solid #EEEEEE;
  }
</style>
{% endblock %}
