{% extends "layout.html" %}

{% block body %}
<div class="col-md-7 col-md-push-5">

        </div>

<div class="container page-content">
  <div class="row featurette">
    <div class="col-md-8">
      <h1 class="featurette-heading">{{ artist.attributes.name }} <span class="text-muted small">See for yourself.</span></h1>
      <p class="lead">{{ artist.attributes.profile | nl2br }}</p>
      <!--<dl class="dl-horizontal">
        <dt>Real Name:</dt><dd>{{ artist.attributes.real_name }}</dd>
        <dt>Profile:</dt><dd>{{ artist.attributes.profile | nl2br }}</dd>
      </dl>-->
    </div>
    <div class="col-md-4">
      {% if primary_image is none %}
        {% set image_uri = url_for('static', filename='images/default-release-cd1.png') %}
      {% else %}
        {% set image_uri = primary_image.uri %}
      {% endif %}

      <img class="featurette-image img-responsive center-block" src="{{ image_uri }}" alt="image">
    </div>
    <!--{% for image in artist.attributes.images.data %}
      <img src="{{ image.attributes.uri }}", width="{{ image.attributes.width }}", height="{{ image.attributes.height }}">
    {% endfor %}-->
  </div>
  <hr>
</div>

<style>
  h1 {
    padding-bottom: 10px;
  }
  .dl-horizontal dt {
    text-align: left;
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    margin-top: 50px;
  }

</style>
{% endblock %}
