{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/artist_detail.js') }}"
        data-artist-uri="{{ url_for('artist_api', artist_id=artist.id) }}">
</script>
{% endblock %}

{% block body %}

<div class="container page-content">
  <div class="row featurette">
    <div class="col-md-8">
      <h1 class="featurette-heading artist-name"></h1>
      <p class="lead artist-profile"></p>
      <hr>
      <dl class="dl-horizontal">
        <div class="artist-real"></div>
        <div class="artist-aliases"></div>
        <div class="artist-groups"></div>
        <div class="artist-members"></div>
        <div class="artist-urls"></div>
      </dl>

    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive center-block artist-image" src="" alt="image">
    </div>
  </div>
  <hr>
</div>

<style>
  h1 {
    padding-bottom: 10px;
  }
  .dl-horizontal dt {
  /*  text-align: left;*/
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    margin-top: 50px;
  }
  .artist-real {
    margin-bottom: 10px;
  }
</style>
{% endblock %}
