{% extends 'layout.html' %}
{% block script %}
<script src="{{ url_for('static', filename='dist/js/artists.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">

  <div class="artist-list">
    <div class="artist-card col-md-3">
      <div class="card text-xs-center">
        <div class="card-block">
          <div class="artist-title card-title"></div>
        </div>
        <img calss="img-fluid" alt="Card image">
        <div class="card-block">
          <p class="artist-plot card-text"></p>
        </div>
        <div class="artist-pub card-footer text-muted"></div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
