{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/artist_info.js') }}"
        data-artist-endpoint="{{ url_for('artist_info', artist_id=artist.id) }}">
</script>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header artist-name"></h1>

      <h4 class="sub-header">Top Songs</h4>

      <hr>
      <h4 class="sub-header">Albums</h4>
      <div class="row release-list">

        <div class="col-md-4 release-card">
          <img class="release-thumb thumbnail text-center" src="" alt="thumb">
          <div class="release-info">
            <div class="release-title small"></div>
            <div class="release-year small text-muted"></div>
          </div>
        </div>

      </div>

      <hr>
      <h4 class="sub-header">Episodes</h4>
      <table class="table table-condensed">

        <tbody class="ep-list">
          <tr class="ep-clone">

            <td class="ep-actions text-center">
              <button type="button" name="button-ep-bookmark" class="btn btn-lg btn-default btn-ep-bookmark" data-toggle="tooltip" title="Bookmark Episode">
                <span class="glyphicon glyphicon-star-empty"></span>
              </button>
            </td>

            <td class="text-center">
              <img class="ep-thumb" src="" alt="thumb">
            </td>

            <td>
              <h5>
                <span class="ep-title"></span>
                <span class="ep-date label label-date"></span>
              </h5>
              <p class="ep-plot small"></p>
              <ul class="list-inline ep-categories"></ul>
            </td>

          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-md-4 well" id="sidebar">
      <img class="img-responsive center-block artist-image" src="" alt="image">
      <hr>
      <p class="artist-profile">{{ artist.profile | nl2br }}</p>
      <hr>
      <div class="dl-horizontal">
        <dl>
          <div class="artist-real">
            <dt>Real Name:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-aliases">
            <dt>Aliases:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-urls">
            <dt>Links:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-groups">
            <dt>Member in Groups:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
          <div class="artist-members">
            <dt>Group's Members:</dt>
            <dd>
              <ul class="list-unstyled"></ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

  </div>

</div>

<style>
  .favicon {
    background-position: 0 6px;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    padding: 4px 0 0 22px;
    min-height: 14px;
    background-image:;
    background-size: 16px;
  }
  h1 {
    padding-bottom: 10px;
  }
  .page-header {
    font-weight: bold;
  }
  .sub-header {
    font-weight: bold;
  }
  .artist-image {
    margin-top: 20px;
  }
  .artist-profile {
    font-size: 90%;
  }

  .release-thumb {
    width: 160px;
    height: 160px;
    margin-bottom: 0;
  }
  .release-card {
    width: 170px;
    margin-right: 10px;
  }
  .release-info {
    margin-top: 5px;
    margin-left: 2px;
  }
  .release-title {
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


  .table > tbody > tr {
    border: 1px solid rgb(221, 221, 221);
  }
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  .ep-actions {
    border-right: 1px solid rgb(221, 221, 221);
  }
  .btn-ep-bookmark {
    border-color: transparent;
    padding: 6px;
  }
  .ep-card {
    padding: 10px;
    margin: 5px;
  }
  .ep-thumb {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    object-fit: cover;
  }
  .ep-title {
    font-weight: bold;
  }
  .ep-date {
    float: right;
  }
  .ep-categories {
    padding-right: 0;
  }
  .ep-categories > li {
    margin-left: 5px;
    font-weight: normal;
    font-size: 90%;
  }

</style>
{% endblock %}
