
<!-- Modal -->
<div class="modal fade" id="myModal" data-track-id="" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center">Edit Track</h3>
      </div>

      <div class="modal-body">

        <div class="box" id="trackInfo">

          <h5 class="box-title">Track Info</h5>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <div>Original Title</div>
              <div class="well well-sm original-title hebrew"></div>
            </div>
            <div class="col-md-4">
              <div>Type</div>
              <div class="well well-sm track-type"></div>
            </div>
          </div>

        </div>

        <div class="box" id="trackQuery">
          <h5 class="box-title">Tag Search Parameters</h5>
          <hr>
          <div class="row tag-query">
            <div class="col-md-4">
              <div>Artist</div>
              <div class="well well-sm query-artist">-</div>
            </div>
            <div class="col-md-4">
              <div>Album</div>
              <div class="well well-sm query-album">-</div>
            </div>
            <div class="col-md-4">
              <div>Song</div>
              <div class="well well-sm query-song">-</div>
            </div>
          </div>

        </div>

        <!-- Artist Info -->
        <div class="box resource-info" id="artistInfo">
        </div>
        <!-- Album Info -->
        <div class="box resource-info" id="albumInfo">
        </div>
        <!-- Song Info -->
        <div class="box resource-info" id="songInfo">
        </div>

      </div> <!-- modal-content-->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<style>
  #trackQuery hr,
  #trackInfo hr {
    margin-top: 0;
  }
  .modal-body .box-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .modal div.row > div > div:first-child {
    padding-left: 2px;
    padding-bottom: 2px;
  }
</style>
