
<!-- Modal -->
<div class="modal fade" id="myModal" data-track-id="" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Edit Track (<span class="track-id"></span>)</h3>
      </div>

      <div class="modal-body">

        <div class="track-info box">

          <h4 class="box-title">Info</h4>
          <dl class="dl-horizontal-">
            <dt>Originl Title</dt>
            <dd class="original-title"></dd>
            <dt>Is Song</dt>
            <dd class="is-resolved"></dd>
          </dl>

        </div>
        <div class="track-query box">

          <h4 class="box-title">Query</h4>
          <dl class="dl-horizontal-">
            <dt>Artist</dt>
            <dd class="query-artist"></dd>
            <dt>Album</dt>
            <dd class="query-release"></dd>
            <dt>Song</dt>
            <dd class="query-song"></dd>
          </dl>

        </div>

        <!-- Artist Info -->
        <div class="box" id="artistInfo">
        </div>
        <!-- Album Info -->
        <div class="box" id="releaseInfo">
        </div>
        <!-- Song Info -->
        <div class="box" id="songInfo">
        </div>

      </div> <!-- modal-content-->

      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>
