
<!-- Modal -->
<div class="modal fade" id="myModal" data-track-id="" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Edit Track</h3>
      </div>

      <div class="modal-body">

        <div class="box" id="trackInfo">

          <table>
            <tbody>
              <tr>
                <td>Original Title</td>
                <td class="well well-sm original-title hebrew"></td>
              </tr>
              <tr>
                <td>Type</td>
                <td class="well well-sm track-type"></td>
              </tr>
              <tr class="tag-query">
                <td>Artist</td>
                <td class="well well-sm query-artist">-</td>
              </tr>
              <tr class="tag-query">
                <td>Album</td>
                <td class="well well-sm query-album">-</td>
              </tr>
              <tr class="tag-query">
                <td>Song</td>
                <td class="well well-sm query-song">-</td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- Artist Info -->
        <div class="box" id="artistInfo">
        </div>
        <!-- Album Info -->
        <div class="box" id="releaseInfo">
        </div>
        <!-- Song Info -->
        <div class="box" id="songInfo">
        </div>

      </div> <!-- modal-content-->

      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>

<style>


  #trackInfo tr td:first-child {
    text-align: right;
    padding-right: 10px;
  }

</style>
