{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/episode_detail.js') }}"
        data-tracklist-uri="{{ url_for('tracklist_api', episode_id=ep.id) }}">
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">

  <div class="row">
    <div class="media">
      <div class="media-left">
        <img class="media-object ep-thumb img-rounded" alt="pic" src="{{ ep.attributes.thumb }}">
        <hr>
        <p class="small heb">{{ ep.attributes.description | nl2br }}</p>
      </div>
      <div class="media-body">
        <h3 class="media-heading ep-title">{{ ep.attributes.title }}</h3>

        <dl>
          <dt>Aired On</dt>
          <dd><span class="ep-date">{{ ep.attributes.date_pub }}</span></dd>

          <dt>Guests</dt>
          <dd><span class="ep-guest">{{ ep.attributes.guest }}</span></dd>

          <dt>Categories</dt>
          <dd><span class="ep-guest">{{ ep.attributes.guest }}</span></dd>
        </dl>




        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>SONG</th>
              <th>ARTIST</th>
              <th>ALBUM</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="track-list">
            <tr class="track-row">

              <td class="text-center">
                <span class="small track-pos"></span>
              </td>

              <td class="track-thumb">
                <img class="track-default-thumb" src="/static/images/default-release-cd1.png", alt="thumb">
              </td>

              <td class="small track-song"></td>
              <td>
                <span class="track-artist-status"></span><span class="small track-artist"></span>
              </td>
              <td>
                <span class="track-release-status"></span><span class="small track-release"></span>
              </td>

              <td class="actions text-center">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </td>

              <td class="actions text-center border-right">
                <span class="glyphicon glyphicon-plus"></span>
              </td>

            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
  <div class="row">

  </div>


  <!--<h2 class="page-header"><strong>Tagging Status</strong></h2>

  <div class="btn-group">
    <button class="btn btn-sm btn-success" type="button"><span class="badge" id='badge-full'>0</span> Matched</button>
    <button class="btn btn-sm btn-info" type="button"><span class="badge" id='badge-half'>0</span> Half-Matched</button>
    <button class="btn btn-sm btn-warning" type="button"><span class="badge" id='badge-pending'>0</span> Pending</button>
    <button class="btn btn-sm btn-danger" type="button"><span class="badge" id='badge-unmatched'>0</span> Un-Matched</button>
    <button class="btn btn-sm btn-default" type="button"><span class="badge" id='badge-not-song'>0</span> Not Songs</button>
  </div>-->

<style>
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  dt {
    float: left;
    width: 10%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: #777
  }
  dd {
    float: left;
    width: 90%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    padding-bottom: 1px;
    margin: 0;
  }
  .container-fluid {
    margin: 0 40px 0 40px;
  }
  .heb {
    direction: rtl;
  }
  .media-left {
    padding-right: 40px;
  }
  .ep-title {
    margin-bottom: 10px
  }
  .ep-thumb {
    width: 340px;
    height: 340px;
    object-fit: cover;
  }
  .table {
    margin: 20px 0 20px 0;
  }
  .table > thead > tr {
    border-top: 1px solid #ddd;
  }
  .table > thead > tr > th {
    font-weight: lighter;
    font-size: 85%;
    color: #808080;
    border-bottom: 1px solid #ddd;
    padding: 4px;
  }
  .tag-status-panel {
    direction: ltr;
  }
  .tag-status-badge {
    //float: right;
  }

  .track-thumb > a > img,
  .track-thumb > img {
    width: 55px;
    height: 55px;
  }

  .glyphicon-exclamation-sign {
    color: #f0ad4e;
    font-size: 130%;
  }
  .glyphicon-question-sign {
    color: #D9534F;
    font-size: 130%;
  }

  .track-pos {
    color: #808080;
    font-weight: lighter;
    width: 20px;
  }

  .border-right {
    border-right: 1px solid #EEEEEE;
  }
  .actions {
    //display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /*.glyphicon-option-horizontal,*/
  .table > tbody > tr > td {
    vertical-align: middle;
    top: 0;
  }

</style>
{% endblock %}
