{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/episode_info.js') }}"
        data-playlist-uri="{{ url_for('tracklist_api', episode_id=ep.id) }}">
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive center-block ep-thumb img-rounded" alt="pic" src="{{ ep.thumb }}">
      <hr class="hr-thin">
      <ul class="list-inline text-center">
        <li><span class="label label-date" id="epDate" data-toggle="tooltip" title="Aired On">{{ ep.date_pub }}</span></li>

        {% if ep.guest %}
          <li><span class="label label-guest" data-toggle="tooltip" title="Guest">{{ ep.guest }}</span></li>
        {% endif %}

        {% for c in ep.categories %}
          <li><span class="label label-category" data-toggle="tooltip" title="Category">{{ c.category }}</span></li>
        {% endfor %}
      </ul>
      <hr class="hr-thin">
      <p class="ep-desc">{{ ep.description | nl2br }}</p>
    </div>

    <div class="col-md-9">

      <h3 class="media-heading page-header">
        <span class="ep-title">{{ ep.title }}</span>
        <button type="button" name="button" class="btn btn-bookmark btn-heading" data-toggle="tooltip" title="Bookmark Episode">
          <span class="glyphicon glyphicon-star-empty"></span>
        </button>
      </h3>

      <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
          <a href="{{ ep.podcast_url }}" target="_blank" class="btn btn-sm btn-default" data-toggle="tooltip" title="Play Episode">
            <span class="glyphicon glyphicon-play"></span>
          </a>
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" name="button-ep-played" class="btn btn-sm btn-default" data-toggle="tooltip" title="Mark as Unplayed">
            <span class="glyphicon glyphicon-headphones">&nbsp;</span><span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </div>

      <!-- Table -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th></th>
            <th>SONG</th>
            <th>ARTIST</th>
            <th>ALBUM</th>
          </tr>
        </thead>
        <tbody class="track-list">
          <tr class="track-row">

            <td class="text-center">
              <span class="track-pos"></span>
            </td>

            <td class="track-thumb">
              <img class="track-default-thumb img-rounded" src="", alt="thumb">
            </td>

            <td class="track-song"></td>
            <td>
              <span class="track-artist-status"></span><span class="track-artist"></span>
            </td>
            <td>
              <span class="track-release-status"></span><span class="track-release"></span>
            </td>

          </tr>
        </tbody>
      </table>

      <!--<ul class="list-inline text-center">
        <li>
          <span class="title-tag-status">Artists</span>
          <span class="badge-tag badge-tag-matched" id="badge-artist-matched" data-toggle="tooltip" title="Matched">0</span>
          <span class="badge-tag badge-tag-pending" id="badge-artist-pending" data-toggle="tooltip" title="Pending">0</span>
          <span class="badge-tag badge-tag-unmatched" id="badge-artist-unmatched" data-toggle="tooltip" title="UnMatched">0</span>
        </li>
        <li>
          <span class="title-tag-status">Albums</span>
          <span class="badge-tag badge-tag-matched" id="badge-release-matched" data-toggle="tooltip" title="Matched">0</span>
          <span class="badge-tag badge-tag-pending" id="badge-release-pending" data-toggle="tooltip" title="Pending">0</span>
          <span class="badge-tag badge-tag-unmatched" id="badge-release-unmatched" data-toggle="tooltip" title="UnMatched">0</span>
        </li>
        <li>
          <span class="title-tag-status">Songs</span>
          <span class="badge-tag badge-tag-matched" id="badge-song-matched" data-toggle="tooltip" title="Matched">0</span>
          <span class="badge-tag badge-tag-pending" id="badge-song-pending" data-toggle="tooltip" title="Pending">0</span>
          <span class="badge-tag badge-tag-unmatched" id="badge-song-unmatched" data-toggle="tooltip" title="UnMatched">0</span>
        </li>
      </ul>-->

    </div>
  </div>
</div>

<style>
  .btn-toolbar {
    margin: 15px 0 20px 0;
  }
  .badge-tag {
    padding: 3px 5px 3px 5px;
    border-style: hidden;
    border-radius: 15px;
    background-color: transparent;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
  }
  .badge-tag-pending {
    background-color: #F0AD4E;
  }
  .badge-tag-unmatched {
    background-color: #D9534F;
  }
  .badge-tag-matched {
    background-color: #5CB85C;
  }
  .title-tag-status {
    font-size: 12px;
    font-weight: normal;
    color: #373A3C;
  }

  .ep-desc {
    direction: rtl;
    font-size: 85%;
  }
  .ep-title {
    direction: rtl;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px
  }
  .ep-thumb {
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .track-row {
    font-size: 12px;
  }
  .track-thumb > a > img,
  .track-thumb > img {
    width: 45px;
    height: 45px;
  }
  .track-pos {
    color: #808080;
    font-weight: lighter;
    width: 20px;
  }

  .glyphicon-exclamation-sign {
    color: #FF8A80;
  }
  .glyphicon-question-sign {
    color: #808080;
  }
  .glyphicon-exclamation-sign,
  .glyphicon-question-sign {
    font-size: 14px;
  }


</style>
{% endblock %}
