{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Episodes <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
          </ul>
        </li>
        <li role="presentation"><a href="#">Artists</a></li>
        <li role="presentation"><a href="#">Albums</a></li>
        <li role="presentation"><a href="#">Songs</a></li>
        <li role="presentation"><a href="#">Genres</a></li>
        <li role="presentation"><a href="#">Decades</a></li>
      </ul>
    </div>
    <div class="col-md-10 thumbs">
      <div class="episodes_placeholder row">
      </div>
    </div>
  </div>
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
