{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/episode_detail.js') }}"
        data-tracklist-uri="{{ url_for('tracklist_api', episode_id=ep.id) }}">
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div>
    <h1>{{ ep.attributes.title }}</h1>
  </div>
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" alt="pic" src="{{ ep.attributes.thumb }}">
    </div>
    <div class="col-md-7">
      <p class="lead">{{ ep.attributes.description | nl2br }}</p>
    </div>
  </div>

  <h2 class="page-header"><strong>Tagging Status</strong></h2>

  <div class="btn-group">
    <button class="btn btn-success" type="button"><span class="badge" id='badge-full'>0</span> Matched</button>
    <button class="btn btn-info" type="button"><span class="badge" id='badge-half'>0</span> Half-Matched</button>
    <button class="btn btn-warning" type="button"><span class="badge" id='badge-pending'>0</span> Pending</button>
    <button class="btn btn-danger" type="button"><span class="badge" id='badge-unmatched'>0</span> Un-Matched</button>
    <button class="btn btn-default" type="button"><span class="badge" id='badge-not-song'>0</span> Not Songs</button>
  </div>

  <h2 class="page-header"><strong>Playlist</strong></h2>

  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">
        <!-- Table -->
        <table class="table">
          <tbody class="track-list">
            <tr class="track-row">

              <td class="actions text-center">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </td>

              <td class="actions text-center border-right">
                <span class="glyphicon glyphicon glyphicon-heart"></span>
              </td>

              <td class="text-center">
                <span class="small track-pos"></span>
              </td>

              <td class="track-thumb">
                <img class="track-default-thumb" src="/static/images/default-release-cd1.png", alt="thumb">
              </td>

              <td class="track-title">
                <div>
                  <span class="track-song-status"></span>
                  <span class="track-song"></span>
                </div>
                <div>
                  <span class="track-artist-status"></span>
                  <span class="small track-artist"></span> | <span class="track-release-status"></span>
                  <span class="small track-release"></span>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<style>
  h1 {
    text-align: center;
    direction: rtl;
  }
  .tag-status-panel {
    direction: ltr;
  }
  .tag-status-badge {
    //float: right;
  }

  .track-thumb > a > img,
  .track-thumb > img {
    width: 55px;
    height: 55px;
  }

  .featurette {
    padding-top: 50px;
    direction: rtl;
  }
  .glyphicon-exclamation-sign {
    color: #f0ad4e;
    line-height: 20px;
  }
  .glyphicon-question-sign {
    color: #D9534F;
    line-height: 20px;
  }
  .color-exclamation-sign {
    color: #f0ad4e;
  }
  .color-question-sign {
    color: #D9534F;
  }

  .track-pos {
    color: black;
    background-color: white;
    //border: 1px solid black;
    font-weight: lighter;
    width: 20px;
  }

  .border-right {
    border-right: 1px solid #EEEEEE;
  }
  .actions {
    //display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /*.glyphicon-option-horizontal,*/
  .table > tbody > tr > td {
    vertical-align: middle;
    top: 0;
  }

</style>
{% endblock %}
