{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for("static", filename="dist/js/episode_detail.js") }}"
        data-tracklist-uri="{{ url_for("episode_tracklist", episode_id=ep.id) }}">
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div>
    <h1>{{ ep.attributes.title }}</h1>
  </div>
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" alt="pic" src="{{ ep.attributes.thumb }}">
    </div>
    <div class="col-md-7">
      <p>{{ ep.attributes.description | nl2br }}</p>
    </div>
  </div>
  <hr>


  <!--<button class="btn btn-default matched-badge" type="button">
    Matched <span class="badge">0</span>
  </button>
  <button class="btn btn-default pending-badge" type="button">
    Pending <span class="badge">0</span>
  </button>
  <button class="btn btn-default unmatched-badge" type="button">
    Unmatched <span class="badge">0</span>
  </button>
  <button class="btn btn-default" type="button">
    Ignored <span class="badge">0</span>
  </button>

  <hr class="featurette-divider">-->

  <!--<h3 class="page-header">Stats</h3>
  <div>
    Tracks Matched Fully
    Tracks Matched Only Artist
    Tracks Pending Tag Selection
    Tracks UnMatched
  </div>
-->
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="99"><h3>Tracklist</h3></th>
      </tr>
    </thead>
    <tbody class="track_list">
      <tr class="track_row">
        <td class="track_id">1</td>
        <td class="track_pos">1</td>
        <td>
          <img class="track_thumb" src="/static/images/default-release1.png", alt="thumb">
        </td>
        <td class="track_title">
          <div>
            <span class="text-muted glyphicon glyphicon-music"></span>
            <span class="track_song"></span>
          </div>
          <div>
            <span class="text-muted glyphicon glyphicon-cd"></span>
            <span class="small track_artist"></span> / <span class="small track_release"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<style>
  .glyphicon-cd,
  .glyphicon-music {
    padding-right: 10px;
  }
  h1 {
    padding-top: 40px;
    text-align: center;
    direction: rtl;
  }
  .track_thumb {
    width: 55px;
    height: 55px;
  }
  .featurette {
    padding-top: 50px;
    direction: rtl;
  }
  .glyphicon-exclamation-sign {
    color: #f0ad4e;
  }
  .glyphicon-question-sign {
    color: #D9534F;
  }
  .pending-resource {
  }
  .matched-badge {
    color: #337AB7;
  }
  .pending-badge {
    color: #f0ad4e;
  }
  .unmatched-badge {
    color: #D9534F;
  }
  .track_id,
  .track_pos {
    text-align: center;
  }
  .table>tbody>tr>td {
    vertical-align: middle;
  }

</style>
{% endblock %}
