{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Episodes <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
          </ul>
        </li>
        <li role="presentation"><a href="#">Artists</a></li>
        <li role="presentation"><a href="#">Albums</a></li>
        <li role="presentation"><a href="#">Songs</a></li>
        <li role="presentation"><a href="#">Genres</a></li>
        <li role="presentation"><a href="#">Decades</a></li>
      </ul>
    </div>
    <div class="col-md-10 thumbs">
      <div class="episodes_placeholder row">
      </div>
    </div>
  </div>


{% endblock %}

{% block script %}
  {% raw %}
  <script id="episodes-template" type="text/x-handlebars-template">

    {{#each episode}}
      <div class="episode_card col-md-3">
        <a href="{{view_url}}">
          <div class="title">{{id}}. {{title}}</div>
          <img src={{image}}>
        </a>
      </div>
    {{/each}}

  </script>
  {% endraw %}

  <script type="text/javascript">
    $(function() {

      // API Call
      $.getJSON("/api/episodes", {'limit': 15}, function(data, status) {

        // Grab the template script
        var source = $("#episodes-template").html();

        // Compile the template
        var template = Handlebars.compile(source);
        var context = {episode: data};
        var compiledHtml = template(context);

        // Add compiled html to page
        $(".episodes_placeholder").html(compiledHtml);

      });

    });
  </script>
{% endblock %}

{% block style %}
  <style>
    .episode_card {
      margin-top: 10px;
    }
    img {
      width: 230px;
      height: 150px;
      object-fit: cover;
    }
  </style>
{% endblock %}
