{% extends "layout.html.jinja" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive center-block-" src="{{episode.image}}" alt="">
        </div>

        <div class="col-md-5">
          <div class="title-path lead text-muted">
            <span>Season {{episode.season}} / Episode {{episode.id}}:</span>
            <h2 class="title">{{episode.title}}</h2>
            <span>{{episode.aired}}</span>
          </div>
          <audio controls src="{{episode.media}}"></audio>
        </div>

        <div class="col-md-4">
          <blockquote>
            <p><em>{{episode.description | nl2br}}&hellip;</em></p>
            <footer><cite>Bob Dylan</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div id="tracklistPlaceholder"></div>

{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/episode.css') }}">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var $EPISODE_ID = {{ episode.id|tojson|safe }},
        $EPISODE_TITLE = {{ episode.title|tojson|safe }};
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/tracklist.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/episode.js') }}"></script>
{% endblock %}
