{% extends "layout.html.jinja" %}

{% block content %}
  <div class="jumbotron" id="heading">
    <div class="container">
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" src="{{ url_for('static', filename='images/cassette-white.png') }}" alt="" />
        </div>
        <div class="media-body">
          <h1 class="media-heading">Theme<br>Time<br>Radio Tapes</h1>
          <p><img class="spotify-logo" src="{{ url_for('static', filename='images/Spotify_Logo_CMYK_White.png') }}" alt="" /> playlists based on music from Bob Dylan's radio show</p>
        </div>
      </div>

    </div>
  </div>

  <div id="features_placeholder"></div>

{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
