{% extends "info_page.html" %}

{% block script %}
  <script src="{{ url_for('static', filename='js/song_info.js') }}"
          data-song-endpoint="{{ url_for('song_info', song_id=song.id) }}"
          data-release-endpoint="{{ url_for('release_info', release_id=song.release_id) }}">
  </script>
{% endblock %}

{% block info_title %}
  <span class="song-title">{{ song.title }}</span>
{% endblock %}

{% block info_middle %}
  <div>
    <dl class="dl-horizontal">
      <dt>song by</dt>
      <dd class="release-artists"></dd>
      <dt>album</dt>
      <dd class="release-title"></dd>
    </dl>
  </div>
{% endblock %}


{% block info_labels %}
  <ul class="list-inline release-labels">
    <li>
      <span class="label label-year release-year"></span>
    </li>
  </ul>
{% endblock %}


{% block info_image %}
  <img class="img-responsive center-block img-rounded release-primary-image" src="" alt="image">
{% endblock %}


{% block info_data %}{% endblock %}


{% block info_episodes %}
  {{ episodes.list() }}
{% endblock %}


{% block info_style %}
<style>
  .info-middle > div > dl > dd {
    margin-left: 85px;
  }
  .info-middle > div > dl > dt {
    width: 75px;
    font-weight: normal;
  }
</style>
{% endblock %}
