{% extends "layout.html" %}
{% import "macro_episodes.html" as episodes %}

{% block jumbo %}
  <div class="jumbotron">
    <div class="container">

      <div class="info-title">
        <h1 class="resource-title">
          {% block info_title %}{% endblock %}
          <button type="button" name="button" class="btn btn-bookmark btn-heading" data-toggle="tooltip" title="Bookmark">
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
        </h1>
        <hr class="hr-dark-thin">
      </div>

      <h4 class="info-middle">
        {% block info_middle %}{% endblock %}
      </h4>

      <div class="info-labels">
        {% block info_labels %}{% endblock %}
      </div>

    </div>
  </div>
{% endblock%}


{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3" id="sidebar">
        {% block info_image %}{% endblock %}
      </div>

      <div class="col-md-9">
        {% block info_data %}{% endblock %}
        {% block info_episodes %}{% endblock %}
      </div>
    </div>

  </div>
{% endblock %}


{% block style %}
  <style>
    .info-middle {
      margin-top: 4px;
      padding-left: 0.3em;
      vertical-align: top;
    }
    .hr-dark-thin {
      margin-top: 8px;
      margin-bottom: 0;
    }

    .info-title > h1 {
      font-size: 56px;
      font-weight: bold;
    }
    .info-labels {
      margin-top: 15px;
    }
  </style>

  {% block info_style %}{% endblock %}

{% endblock %}
