{% extends "info_page.html" %}

{% block script %}
  <script src="{{ url_for('static', filename='js/episode_info.js') }}"
          data-playlist-uri="{{ url_for('tracklist_api', episode_id=ep.id) }}">
  </script>
{% endblock %}

{% block info_title %}
  <span class="ep-title">{{ ep.title }}</span>
{% endblock%}

{% block info_middle %}
  <span>Episode <small>aired on <span id="epDate">{{ ep.date_pub }}</span></small></span>
{% endblock %}


{% block info_labels %}
  <ul class="list-inline">
    {% if ep.guest %}
      <li>
        <span class="label label-guest" data-toggle="tooltip" title="Guest">{{ ep.guest }}</span>
      </li>
    {% endif %}

    {% for c in ep.categories %}
      <li>
        <span class="label label-category" data-toggle="tooltip" title="Category">{{ c.category }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


{% block info_image %}
  <img class="img-responsive center-block img-rounded ep-thumb" alt="pic" src="{{ ep.thumb }}">
  <hr class="hr-thin">

  <div class="buttons text-center">
    <a href="{{ ep.podcast_url }}" target="_blank" class="btn btn-sm btn-default" data-toggle="tooltip" title="Play Episode">
      <span class="glyphicon glyphicon-play"></span>
    </a>

    <button type="button" name="button-ep-played" class="btn btn-sm btn-default" data-toggle="tooltip" title="Mark as Unplayed">
      <span class="glyphicon glyphicon-headphones">&nbsp;</span><span class="glyphicon glyphicon-ok"></span>
    </button>
  </div>

  <hr class="hr-thin">
  <p class="ep-desc">{{ ep.description | nl2br }}</p>
{% endblock %}


{% block info_data %}
  <h3 class="tracklist-title">Tracklist</h3>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th></th>
        <th>SONG</th>
        <th>ARTIST</th>
        <th>ALBUM</th>
      </tr>
    </thead>
    <tbody class="track-list">
      <tr class="track-row">

        <td class="text-center">
          <span class="track-pos"></span>
        </td>

        <td class="track-thumb">
          <img class="track-default-thumb img-rounded" src="", alt="thumb">
        </td>

        <td class="track-song"></td>
        <td>
          <span class="track-artist-status"></span><span class="track-artist"></span>
        </td>

        <td>
          <span class="track-release-status"></span><span class="track-release"></span>
        </td>

      </tr>
    </tbody>
  </table>
{% endblock %}

{% block info_style %}
  <style>
    .ep-title {
      direction: rtl;
      text-align: left;
    }
    .ep-thumb {
      object-fit: contain;
      margin-bottom: 10px;
    }
    .ep-desc {
      direction: rtl;
      font-size: 85%;
    }

    .track-thumb > img,
    .track-thumb > a > img {
      width: 45px;
      height: 45px;
    }
    .track-pos {
      color: #808080;
      font-weight: lighter;
    }

    .glyphicon-exclamation-sign {
      color: #EC9488;
    }
    .glyphicon-question-sign {
      color: #808080;
    }
  </style>
{% endblock %}
