
{% macro list() -%}
<div class="box" id="episodesListMacro">
  <h3 class="box-title page-header">Episodes</h3>
  <table class="table table-condensed table-hover">

    <tbody class="ep-list">
      <tr class="ep-card">

        <td class="text-center ep-bookmark">
          <button type="button" name="button" class="btn btn-lg btn-default btn-bookmark" data-toggle="tooltip" title="Bookmark Episode">
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
        </td>

        <td class="text-center">
          <img class="ep-thumb img-rounded" src="" alt="thumb">
        </td>

        <td>
          <h5 class="hebrew">
            <span class="ep-title"></span>
          </h5>
          <ul class="ep-categories list-inline text-right">
            <li><span class="ep-date label"></span></li>
          </ul>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<style>

  .table > .ep-list > tr td:first-child {
    border-left: 1px solid rgb(235, 235, 235);
  }
  .table > .ep-list > tr > .ep-bookmark,
  .table > .ep-list > tr td:last-child {
    border-right: 1px solid rgb(235, 235, 235);
  }
  .ep-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .ep-title {
    font-weight: bold;
  }
  .label-date {
    border: 1px solid #333333;
    background-color: transparent;
    color: #333333;
  }
  .ep-categories > li > .label {
    font-size: 0.8em;
  }
</style>
{%- endmacro %}
