{% extends "layout.html.jinja" %}


{% block content %}

<div class="jumbotron" id="jumboTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div id="mixtapePlaceholder"></div>
        <h2 class="text-center">pick a tape <span class="glyphicon glyphicon-circle-arrow-up"></span></h2>
      </div>
      <div class="col-md-5 text-center">
        <img class="center-block" src="{{ url_for('static', filename='images/cassette.png') }}" alt="" />
        <h1>Mixtapes</h1>
      </div>

    </div>
  </div>
</div>

<div class="jumbotron" id="jumboTapeData">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div id="spotifyPlayer"></div>
      </div>
      <div class="col-md-8">
        <h1 id="tape"></h1>
        <div id="tapeWiki"></div>
        <div id="tapeArtists"></div>
      </div>

    </div>
  </div>
</div>

{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mixtapes.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $USER_TAPE = {{tape_name|tojson|safe}};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tracklist.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mixtapes.js') }}"></script>
{% endblock %}
