{% extends "layout.html.jinja" %}


{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-center">
        <img class="center-block" src="{{ url_for('static', filename='images/cassette.png') }}" alt="" />
      </div>
      <div class="col-md-7">
        <h1 id="tapeName">Mixtapes</h1>
        <div id="tapeWiki">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div id="mixTapesList"></div>
    </div>

    <div class="col-md-5 text-center">
      <div id="spotifyPlayer">
        <h3 class="page-header"><span class="glyphicon glyphicon-circle-arrow-left"></span> Pick a Tape from the list</h3>
      </div>
    </div>
  </div>

</div>

{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mixtapes.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/tracklist.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mixtapes.js') }}"></script>
{% endblock %}
