{% extends "layout.html.jinja" %}


{% block content %}


<div class="jumbotron", id="heading">
  <div class="container text-center">
    <img class="center-block" src="{{ url_for('static', filename='images/cassette-mono.png') }}" alt="" />
    <h1>Mixtapes</h1>
  </div>
</div>

<div class="jumbotron" id="jumboTapeData">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h1 id="tape"></h1>
        <div id="tapeWiki"></div>
        <div id="tapeArtists"></div>
      </div>
      <div class="col-md-4 text-right">
        <div id="spotifyPlayer"></div>
      </div>
    </div>

    <h3 id="mixtapeHint">pick a tape <span class="glyphicon glyphicon-circle-arrow-down"></span></h3>
    <div id="mixtape_placeholder"></div>
  </div>
</div>

{% endblock %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mixtapes.css') }}">
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $USER_TAPE = {{tape_name|tojson|safe}};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tracklist.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mixtapes.js') }}"></script>
{% endblock %}
