//================================================
// Wrapper
//================================================

#main_wrapper {
  // max-width: 425px; // TODO: remove when implementing tablet/desktop
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color-white-smoke;
  overflow: hidden; // For mobile nav bar
}
