//================================================
// Episode Info
//================================================

#page.episode-info {

  header {

    h1 {
      margin: 0;
    }

    p {
      &:first-of-type {
        font-size: 0.7em;
        color: $color-gray;
        text-transform: lowercase;
      }

      &:last-of-type {
        margin: 10px 60px 15px 60px;
      }
    }

    a {
      text-decoration: underline;
      font-size: 0.8em;
      color: $color-light-salmon;
    }

    img {
      display: block;
      margin: 15px auto 5px auto;
      @extend %img-responsive;
    }
  }

}
