//================================================
// Episodes
//================================================

#page.episodes {

  header {

    h1 {
      margin-bottom: 0;
    }

    p {
      color: $color-salmon;
      font-weight: lighter;
    }

    ul.seasons {

      a {
        display: block;
        padding: 10px;
        margin-bottom: 1px;
        background-color: $color-aquagreen;
        color: $color-black;
        border-radius: 4px;

        &.selected {
          background: $color-salmon;
          border: 1px solid white;
        }
      }
    }
  }

  .card .aired {
    font-style: italic;
    color: $color-gray;
  }

}
