//================================================
// Genre Info
//================================================

#page.genre-info {

  main {
    @media (min-width: $screen-desktop) {
      .tabs .tab {
        &:nth-of-type(1) {
          flex: 0 0 100%;
        }
        &:nth-of-type(2) {
          flex: 0 0 40%;
        }
        &:nth-of-type(3) {
          flex: 0 0 60%;
        }
      }
    }
  }

}
