//================================================
// Home
//================================================

#page.home {

  @media (min-width: $screen-tablet) and (max-width: $screen-desktop - 1)  {
    .thumbnails {
      justify-content: center;

      .thumb {
        width: 110px;
      }
    }
  }

  @media (min-width: $screen-desktop) {
    .tabs {
      display: flex;
      flex-wrap: wrap;

      .tab {
        section {
          display: block;
          margin: 0 2rem 2rem 2rem;
          background: white;
          border-radius: 10px;
        }

        label {
          justify-content: center;
          color: $color-black;
          background: transparent;
          border: none;
          font-size: 1rem;

          &::after { // remove arrow
            content: unset;
          }
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          flex: 0 0 100%;
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
          flex: 1 1;
        }
      }
    }

    #episodes_placeholder .thumbnails {
      justify-content: space-around;
    }
  }

  header {

    img {
      margin-top: 2rem;
    }

    .site-name {
      font-size: 2rem;
      margin: 1rem 0;
    }

    p.pitch {
      color: $color-light-salmon;
      font-weight: lighter;

      span {
        display: block;
        font-style: italic;
      }
    }

  }

  main {
    max-width: 1024px;
    margin: 2rem auto;

    blockquote {
      margin: 0;
      font-size: .9rem;

      footer {
        margin-top: .5rem;
        margin-left: .5rem;
      }

    }

  }

}
