//================================================
// Artist Info
//================================================

@import "index";

#page {

  header {

    h1 {
      margin-bottom: 10px;
    }

    img {
      border-radius: 100%;
      box-shadow: 0px 0px 1px 2px $color-white;
    }

    ul#artist_tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2px 0 30px 0;
      border-top: 1px solid $color-gray;

      li {
        margin: 2px 5px;

        a {
          text-transform: capitalize;
          text-align: center;
          vertical-align: middle;
          color: $color-red;
          font-size: 0.8rem;
        }
      }
    }

  }

}
