
<div class="jumbotron" id="artistInfo">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h1>{{lastfm.artist.name}}</h1>
        <div id="artistBio">
          {{#nl2br lastfm.artist.bio.summary}}{{/nl2br}}
        </div>
        {{#if spotify.tags}}
          <div id="artistTags">
            <ul class="list-inline">
              {{#each spotify.tags}}
                <li>
                  <h5><span class="label label-danger">{{tag.name}}</span></h5>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img class="img-responsive img-rounded center-block" src="{{# lastFmImage lastfm.artist.image 'extralarge'}}{{/lastFmImage}}" alt="" />
        </div>
      </div>
    </div>



    <!--<a href="#topTracks" class="btn btn-info" role="button">Top Tracks</a>-->

  </div>
</div>


<div class="jumbotron", id="songsPlayed">
  <div class="container">
    <h2 class="sub-header">Songs Played <small>on the show</small></h2>
    <div class="row">
      <div class="col-md-5">
        <div id="spotifyPlayer"></div>
      </div>
      <div class="col-md-7 text-center">
        <div id="tracklistPlaceholder"></div>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5" id="topTracks">
        <h2 class="sub-header">Top Tracks <small>on Spotify</small></h2>
        <div>
          <iframe id="topTracksPlayer" src="" width="400" height="540" frameborder="0" allowtransparency="true"></iframe>
        </div>

      </div>
      <div class="col-md-7" id="similarArtist">
        {{#if lastfm.artist.similar.artist}}
          <h2 class="sub-header text-center">Similar Artists <small>from the show</small></h2>

          <ul class="list-inline text-center">
            {{#each lastfm.artist.similar.artist}}
              <li class="">
                <a href="/artists/{{name}}">
                  <img class="img-circle img-responsive center-block" src={{# lastFmImage image "large"}}{{/lastFmImage}} alt="" />
                  <div class="artist-name">{{name}}</div>
                </a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>
