<div class="tracklist">
  <table class="table table-responsive table-condensed">
    <thead class="green">
      <th>#</th>
      <th>SONG</th>
      <th>ARTIST</th>
      <th>YEAR</th>
      <th class="text-center">PREVIEW</th>
    </thead>
    <tbody>
      {{#each tracklist}}
        <tr>
          <td>{{position}}</td>
          <td>
            {{#getSongTitle spotify_song parsed_song episode.id}}{{/getSongTitle}}
          </td>
          <td>
            {{#getArtistTitle spotify_artists parsed_artist}}{{/getArtistTitle}}
          </td>
          <td>
            {{year}}
          </td>
          <td class="text-center">
            {{# if spotify_song.song.id }}
              <span class="glyphicon glyphicon-play-circle preview" previewUrl="{{spotify_song.song.preview_url}}"></span>
            {{else}}
              <span class="glyphicon glyphicon-question-sign"></span>
            {{/if}}
          </td>
        </tr>
      {{/each}}
  </table>
</div>
