//================================================
// Base
//================================================

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sec;
  font-size: 1rem;
}

h1
h2,
h3,
h4 {
  font-family: $font-family-pri;
}

a {
  text-decoration: none;
}

#main_wrapper {
  color: $primary-font-color;
  background: $color-black;
}

#page {
  padding-top: 30px;

  header {
    text-align: center;
    padding: 15px;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      @extend %img-responsive;
    }
  }

}
