
ul.nav-tabs {
  border-bottom: 0;
}
.nav-tabs.nav-justified > li.active > a {
  background-color: #eee;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  font-weight: 300;
  font-family: Helvetica;
}

#artistList {
  padding-top: 50px;
}
#artistList img {
  width: 130px;
  border: 1px solid #eee;
}
#artistList h4 {
  margin-bottom: 60px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Helvetica;
  font-size: 14px;
}
