/***************************************************
/* Basic Styles
/***************************************************/

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/***************************************************
/* Layout
/***************************************************/

#mainHeader {
  padding: 20px 15px;
  border-bottom: 0.5px solid white;
  margin-bottom: 0;
  color: white;
  background-color: #282828;
}

#mainHeader h3 {
  float: left;
  margin: 0;
  font-weight: lighter;
}

#mainHeader nav {
  float: right;
  background-image: url('../images/mobile_nav@46x42.png');
  background-repeat: no-repeat;
  background-size: 23px 21px;
  width: 23px;
  height: 21px;

}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: white;
}

footer a {
  display: block;
  height: 50px;
}
footer img {
  max-width: 100%;
  max-height: 100%;
}
/***************************************************
/* Page Content
/***************************************************/

#pageWrapper {
  padding-top: 30px;
  color: white;
  background-color: #282828;
}

#pageWrapper header {
  text-align: center;
  padding: 10px;  /* for bordering large landscape images */
}
#pageWrapper header img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 100%;
  object-fit: cover;
}
#pageWrapper header h1 {
  margin: 0;
  font-size: 2.7em;
}

p.episode-path {
  font-weight: lighter;
  font-size: 0.85em;
  margin-bottom: 5px;
}
p.release-date {
  /*margin-top: 10px;*/
  font-size: 0.7em;
  font-weight: lighter;
}


/***************************************************
/* Player Navigation
/***************************************************/

#episodePlayer {
  background-color: white;
  color: black;
  padding: 20px;
}

#episodePlayer ul {
  text-align: center;
}

#episodePlayer li {
  display: inline-block;
}

#episodePlayer li:nth-child(2n+1) {
  margin: 0 20px;
}

#episodePlayer button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  vertical-align: middle
}

button#episodePlayButton {
  background-image: url('../icons/play-rounded-button.png');
  width: 60px;
  height: 60px;
}
#episodePrevButton {
  background-image: url('../icons/play-previous-button.png');
}
#episodeNextButton {
  background-image: url('../icons/play-next-button.png');
}

button#episodeVolButton {
  background-image: url('../icons/volume-up-indicator.png');
  width: 15px;
  height: 15px;
  float: right;
}

#episodeTimeProgress {
  text-align: left;
  font-size: 0.75em;
  float: left;

}

#episodeProgressBar {
  height: 4px;
  background-color: black;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
}

/***************************************************
/* Tabs
/***************************************************/

.tab {
  background-color: #25AAE1;
}
.tab a {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.tab a,
.tab-content section {
  padding: 15px;
}

.tab-content section {
  font-size: 0.9em;
  color: black;
  background-color: white;
}


/***************************************************
/* Intro
/***************************************************/

#intro {
  background-color: initial;
}
#intro p {
  font-weight: lighter;
  font-style: italic;
  line-height: 2;
  margin: 10px auto;
  text-align: center;
  width: 80%;
  color: white;
}

/***************************************************
/* Tracklist
/***************************************************/

#tracklist table {
  font-size: 0.75rem; /* 12px */
  width: 100%;
}

#tracklist table tr {
  border-bottom: 1px solid #e3e3e3;
}

#tracklist table th,
#tracklist table td {
  padding: 5px;
  vertical-align: middle;
}

#tracklist a {
  text-decoration: none;
}
.track-number {
  text-align: center;
}

.track-title {
  font-size: 0.82rem;
}

.track-title,
.track-performer,
.track-year {
  margin: 4px 0;
}

.track-year {
  font-size: 0.70rem;
  color: #9a9a9a;
}

.track-performer a:nth-child(1n+2)::before {  /* seperator between multiple performers */
  content: "/\00A0";
  color: black;
}

#tracklist table td.track-preview,
#tracklist table td.track-stream {
  text-align: center;
}

.track-preview button {
  background: url('../icons/play-button-inside-a-circle.png') no-repeat center;
  width: 40px;
  height: 40px;
  background-size: contain;
  border: none;
}

.track-stream button {
  background: url('../icons/Spotify_Icon_CMYK_Black.png') no-repeat center;
  width: 20px;
  height: 20px;
  background-size: contain;
  border: none;
}

/***************************************************
/* Artists
/***************************************************/

#artists {
  padding: 0;
}

#artists ul {
  text-align: center;
  background-color: rgb(246, 246, 246)
}

#artists li {
  float: left;
  max-width: 50%;
}

#artists li:nth-child(2n+3) { /* clear every 2 starting at 3 */
  clear: both;
}

#artists li a {
  font-size: 0;
}

#artists figure {
  position: relative;
  margin: 0;
}

#artists figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  font-size: 0.85rem;
  color: white;
  background-color: rgba(40, 40, 40, 0.8);
  padding: 15px 10px;
  margin: 0;
  font-weight: lighter;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#artists img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
