//================================================
// Episodes
//================================================

#page.episodes {

  header {

    p {
      color: $color-light-gray;
      font-weight: lighter;
    }


    ul.seasons {
      display: flex;
      justify-content: center;

      li {
        flex: 1 1;
        max-width: 120px;
        margin: 0 5px;
      }

      a {
        display: block;
        padding: 5px;
        color: white;
        border: 1px solid white;
        border-radius: 3px;


        &.selected {
          background: white;
          color: $color-black;
        }
      }
    }
  }

  main {
    @media (min-width: $screen-desktop) {
      .thumbnails li {
        @include thumbs-per-line(5);
      }
    }
  }

}
