//================================================
// Episode Info
//================================================

#page.episode-info {

  header {

    h1 {
      font-size: $font-size-xl;
    }

    .info {

      span {
        display: block;
        margin: .5rem 0;
        font-size: $font-size-s;

        &.aired {
          color: $color-light-gray;
          text-transform: lowercase;
        }

        &.season a {
          text-decoration: underline;
          color: $color-aquagreen;
        }
      }

    }
    
    img {
      @extend %img-responsive;
    }

  }

}
