//================================================
// Thumbs
//================================================

@mixin thumbs-per-line($count: 2, $fixed: true) {
  $flex-basis: calc(100% / #{$count});
  $width: $flex-basis;

  @if $fixed != true {
    $flex-basis: 0;
  }
  flex: 1 1 $flex-basis;
  width: $width;
}

ul.thumbnails {
  display: flex;
  flex-wrap: wrap;

  li {
    // default split thumbs 2 per line, can be overriden by page styles
    @include thumbs-per-line;
    box-shadow: 0 0 2px white;
    outline: 1px solid white;

    @media (min-width: $screen-mobile-m) {
      @include thumbs-per-line(3);
    }
    @media (min-width: $screen-tablet) {
      @include thumbs-per-line(6);
    }
    @media (min-width: $screen-desktop) {
      @include thumbs-per-line(2);
    }
    
  }
  

  figure.thumb {
    display: flex;
    flex-direction: column;
    margin: 0;

    img {
      height: 150px;
      object-fit: cover;
      object-position: top center;
    }

  }

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background: white;
    border-top: 1px solid $color-light-gray;
    text-transform: capitalize;

    span {
      @extend %text-nowrap;
      font-size: $font-size-xs;
      text-align: center;
      padding: 4px;
      padding-bottom: 6px;
    }
  }

}
