//================================================
// Footer
//================================================

#main_wrapper > footer {
  background-color: $color-black;
  margin: 0;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  font-size: .85rem;
}
