//================================================
// Footer
//================================================

#main_wrapper > footer {
  background-color: $color-black;
  margin: 0;
  margin-top: auto;
  padding: 20px;

  .site-name {
    font-size: 1rem;
  }
}
