//================================================
// Globals
//================================================

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

a {
  text-decoration: none;
}

#page_wrapper {
  color: $primary-font-color;
  background-color: $primary-background-color;
}


#content_wrapper {
  padding-top: 30px;

  header {
    text-align: center;
    padding: $page-sides-padding;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      @extend %img-responsive;
    }

    h1 {
      margin: 0;
      font-size: 2.7em;
    }

    p {
      font-weight: lighter;
    }
  }
}
