//================================================
// Header
//================================================

#nav_header {
  @extend %clearfix;
  padding: 20px $page-sides-padding;
  border-bottom: 1px solid #424242;
  margin-bottom: 0;

  h3 {
    margin: 0;
    font-family: "Passion One", cursive;
    font-weight: 400;
    text-align: center;
    font-size: 1.6rem;
    color: $color-white;

    span {
      color: $color-blue;
    }
  }

  nav {
    float: right;
    @include svg-button($width: 23px, $height: 21px);
  }
}
