//================================================
// Page
//================================================

#page {

  header {
    background: $color-black;
    color: $color-white;
    padding: 15px;
    text-align: center;

    h1 {
      text-transform: capitalize;
    }

  }

  main {
    background-color: $color-white-smoke;
    padding: $padding-page-sides;
  }
}
