//================================================
// Globals
//================================================

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

a {
  text-decoration: none;
}

//================================================
// Extends
//================================================

%clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

%img-responsive {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

%text-nowrap{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

//================================================
// Layout
//================================================

#main_wrapper {
  color: $primary-font-color;
  background-color: $primary-background-color;
}

#main_header {
  @extend %clearfix;
  padding: 20px $page-sides-padding;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  margin-bottom: 0;

  h3 {
    float: left;
    margin: 0;
    font-weight: lighter;
  }

  nav {
    float: right;
    @include icon-button($width: 23px, $height: 21px, $url: '../icons/white-mobile-nav-46x42.png');
  }
}

footer {
  text-align: center;
  padding: 10px $page-sides-padding;
  background-color: white;

  a {
    display: block;
    height: 50px;
  }

  img {
    @extend %img-responsive;
  }
}

#page_wrapper {
  padding-top: 30px;
}

//================================================
// Tabs
//================================================

.tab {
  background-color: #25AAE1;

  a {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    color: white;
    padding: $page-sides-padding;
  }

}

.tab-content {
  background-color: white;

  section {
    color: black;
    padding: $page-sides-padding;
  }
}
