//================================================
// Artist Info
//================================================

@import "main";

#content_wrapper {

  header {
    
    img {
      border-radius: 50%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin-left: 1px;
        margin-right: 1px;

        a {
          text-transform: capitalize;
          padding: 5px;
          background-color: white;
          font-size: 0.75em;
        }
      }
    }
  }
}
