//================================================
// Episode Info
//================================================

@import "main";

#content_wrapper {

  header {

    h1 {
      margin: 0;
    }

    p {
      font-weight: lighter;
      font-size: 0.75em;
    }

    img {
      margin-bottom: 5px;
    }
  }

  main {
    margin-top: 0;

    #episode_player {
      width: 100%;
      height: auto;
      background: #282828;
      padding: 10px 15px 20px 15px;
      color: #A0A0A0;

      .episode-player-row {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0;
      }

      .episode-playpause {
        @include svg-button(70px, #A0A0A0);
        margin: 0 20px;
      }

      .episode-prev {
        @include svg-button(30px, #A0A0A0);
      }

      .episode-next {
        @include svg-button(30px, #A0A0A0);
      }

      .episode-volume {
        @include svg-button(20px, #A0A0A0);
        position: absolute;
        right: 3px;
        padding: 0;
      }

      .episode-progress-bar {
        width: 100%;
        height: 4px;
        background: #3F3F3F;
        border-radius: 6px;
        margin: 0 10px;
      }

      span {
        font-size: 10px;
        font-weight: lighter;
      }
    }

    #intro {
      p {
        font-size: 0.9em;
        line-height: 2;
        margin: 10px auto;
        text-align: center;
        width: 80%;
      }
    }
  }
}
