
@mixin svg-button(
  $width,
  $fill: null,
  $height: $width) {

  border: none;
  outline: none;
  background: transparent;

  svg {
    width: $width;
    height: $height;
    vertical-align: middle;
    fill: $fill;
  }
}
