
@mixin svg-button(
  $width,
  $fill: null,
  $height: $width) {

  padding: 0;
  border: none;
  outline: none;
  background: transparent;

  svg {
    width: $width;
    height: $height;
    vertical-align: middle;
    fill: $fill;
  }
}


@mixin thumbnails-ul($width, $height) {

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    li {
      margin-bottom: 10px;

      figure {
        // flex here for fixing a small bottom gap between caption and figure
        display: flex;
        flex-direction: column;
        margin: 0;
        max-width: $width;
        height: auto;

        box-shadow: 0px 1px 3px 0px black;


        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }

        figcaption {
          width: 100%;
          padding: 15px 10px;
          background: rgba(255, 255, 255, .75);
          font-family: $font-family-pri;
          text-align: center;
          font-size: .7rem;
          color: black;
        }
      }
    }
  }
}
