//-------------------------------------------------
// Variables
//-------------------------------------------------

// Fonts
$font-family: 'Open Sans', sans-serif;
$font-family-h1: 'Passion One', cursive;

// Colors
$primary-background-color: #222222;

$primary-font-color: white;

$color-black: #222222;
$color-charcoal: #424242;
$color-gray: #A0A0A0;

$color-light-gray: lightgray;
$color-light-salmon: lightsalmon;

$color-red: #FF5252;

$color-white: white;
$color-white-smoke: #f6f6f6;

$color-aquagreen: mediumaquamarine;
$color-pink: lightpink;
$color-yellow: #FFEB3B;

$color-dark-blur: darkslateblue;

// Layout
$page-sides-padding: 15px;

$padding-tab-header: 15px;
$padding-tab-body: $padding-tab-header;
