{% extends "layout.html.j2" %}

{% block page_content %}
  <header>
    <img src="{{artist.lastfm_image}}" alt="{{artist.lastfm_name}} Photo">

    <h1 data-artist-id="{{artist.id}}">{{artist.name}}</h1>

    <ul id="artist_tags">
      {% for tag in artist.lastfm_tags %}
        <li><a href="/tags/{{tag.name}}">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
  </header>

  <main>
    <ul class="tabs">
      <li class="tab-header"><a href="#">Biography</a></li>
      <li class="tab-body">
        <section id="bio"></section>
      </li>

      <li class="tab-header"><a href="#">Episodes</a></li>
      <li class="tab-body">
        <section id="episodes_placeholder"></section>
      </li>

      <li class="tab-header"><a href="#">Tracklist</a></li>
      <li class="tab-body">
        <section id="tracklist_placeholder"></section>
      </li>

      <li class="tab-header"><a href="#">Related Artists</a></li>
      <li class="tab-body">
        <section id="artists_placeholder"></section>
      </li>
    </ul>
  </main>
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="/static/css/pages/artist-info.css">
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/artist_info.js') }}"></script>
{% endblock %}
