{% extends "layout.html.j2" %}

{% block page_content %}
  <header>
    <h1>Artists</h1>
  </header>

  <main></main>
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="/static/css/pages/artist-info.css">
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/artists.js') }}"></script>
{% endblock %}
