{% extends "layout.html.j2" %}

{% block page_content %}
  <div id="page" class="episodes">
    <header>
      <h1>Episodes</h1>
      <p>Season</p>
      <ul class="seasons">
      {% for s in seasons %}
          <li>
            <a {% if s == season %} class="selected" {% endif %} href="/episodes/season/{{s}}">{{s}}</a>
          </li>
      {% endfor %}
      </ul>
    </header>

    <main id="episodes_placeholder">
      <ul class="thumbnails">
        {% for e in episodes %}
          <li>
            <a href="/episodes/{{e.id}}">
              <figure class="thumb">
                <img src="{{e.image}}" alt="Poster image of episode {{e.title}}">
                <figcaption>
                  <span>{{e.id}}. {{e.title}}</span>
                </figcaption>
              </figure>
            </a>
          </li>
        {% endfor %}
      </ul>
    </main>
  </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
