{% extends "layout.html.j2" %}

{% block page_content %}
  <div id="page" class="genres">
    <header>
      <h1>Artists</h1>
      <div id="group_nav">
        <input id="toggle_group_nav" type="checkbox"><label for="toggle_group_nav">Navigation</label>
        <nav></nav>
      </div>
    </header>

    <main>
      <div id="group_list"></div>
    </main>
  </div>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript">
    renderGroupNavList('genres');
  </script>
{% endblock %}
