{% extends "layout.html.j2" %}

{% block page_content %}
  <div id="page" class="playlist-info">
    <header>
      <h1 data-tag-name="{{tag}}">{{tag}}</h1>
    </header>

    <main>
      <ul class="tabs">
        <li class="tab">
          <input type="radio" name="tab-group" id="tab_1" checked>
          <label for="tab_1">Description</label>
          <section id="desc"></section>
        </li>

        <li class="tab">
          <input type="radio" name="tab-group" id="tab_2">
          <label for="tab_2">Tracklist</label>
          <section id="tracklist_placeholder"></section>
        </li>

        <li class="tab">
          <input type="radio" name="tab-group" id="tab_3">
          <label for="tab_3">Artists</label>
          <section id="artists_placeholder"></section>
        </li>

      </ul>
    </main>
  </div>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/tag_info.js') }}"></script>
{% endblock %}
